@page "/"

@using static Microsoft.AspNetCore.Components.Web.RenderMode

@rendermode InteractiveServer

<h1>Hello world</h1>
<p>Counter: @Count</p>
<button onclick="@Increment">Click me</button>
@code {
    private int Count {get; set;} = 1;

    private void Increment() => Count++;
}