@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="data">
        <RouteView RouteData="@data" />
    </Found>

    <NotFound>
        <p>404 Route Not found</p>
    </NotFound>
</Router>