@page "/about"
@using static Microsoft.AspNetCore.Components.Web.RenderMode

@rendermode InteractiveServer

<div>
<h1>About page</h1>
<pre>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Sed aliquid tempore, provident et odit rerum in officia beatae ut atque eaque 
    id eligendi ea dolores! Alias velit asperiores ex impedit, 
    sed est voluptates voluptatibus dolorem, delectus maiores cupiditate? 
    Aliquam repellendus vel nisi itaque incidunt tempora aut. Sit id dolorum eligendi?
</pre>
</div>