div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.navbar
{
    padding-top: 30px;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blueviolet;
}